# API Keys
NVIDIA_API_KEY=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
CARTESIA_API_KEY=sk_car_QbJ96RfAkcYc1qpdo5AarS
CARTESIA_VOICE_ID=aee2a343-ab30-430a-b50d-34eaec3dfba6
# Server Configuration
PORT=8000
ENVIRONMENT=production

# Optional: Logging
LOG_LEVEL=info
